.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#company a{}
#company a img:hover{
width:63%;
}
a {
  color: #5D6975;
  text-decoration: underline;
}

body {
	position: relative;
	height:auto;
	width: 21cm;
	margin: 0 auto;
	color: #001028;
	/*background: #FFFFFF;**/
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	font-family: Arial;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(../images/dimension.png);
}

#project {
  float: left;
  color:#000;
  font-size:16px;
  font-family: 'Times New Roman', Times, serif ;
}
#projectr {
  float: right;
  color:#000;
  font-size:18px;
  padding:0 80px 0 0;
  font-family: 'Times New Roman', Times, serif ;
}


#project span {
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
}

#company {
  float: right;
  text-align: right;
  padding-right:50px;
}

#project div,
#company div {
  white-space: nowrap;        
}


#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: relative;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}z