.font-bangla
{  font-family:SutonnyMJ;}
.font-en{
	font-family:"Times New Roman", Times, serif;}	

#DEDAR{
	height:37px;
	display:block;
	border:1px solid;
	border-rindius:5px;
	width: auto;
} 
#DEDAR > ul 
{
	list-style:inside none; 
	padding:0; 
	margin:0;
	text-align:center;
} 
#DEDAR > ul > li 
{
	list-style:inside none; 
	padding:0; 
	margin:0; 
	float:left; 
	display:block; 
	position:relative;
} 
#DEDAR > ul > li > a{ outline:none; display:block; position:relative; padding:10px 20px; font:bold 16px/100% "Times New Roman", Times, serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#DEDAR > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#DEDAR > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#DEDAR ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#DEDAR > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #6FF; } 
#DEDAR > ul > li.has-sub:hover > a:before{top:19px;} 
#DEDAR ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:9px; padding-top:13px; top:-1px; z-index:999; } 
#DEDAR ul li.has-sub:hover > ul, #DEDAR ul li.has-sub:hover > div{display:block;} 
#DEDAR ul li.has-sub > a:hover{
	background:#3f3f3f; 
	border-color:#3f3f3f;
	} 
#DEDAR ul li > ul, #DEDAR ul li > div{ 
display:none; 
width:auto; 
position:absolute; 
top:38px; padding:10px 0; 
background:#3f3f3f; 
border-radius:0 0 5px 5px; 
z-index:999; } 
#DEDAR ul li > ul{width:150px;} 
#DEDAR ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#DEDAR ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:13pt "Times New Roman", Times, serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 


#DEDAR, #DEDAR > ul > li > ul > li a:hover{ background:#60a318; background:-moz-linear-gradient(top, #039 0%,  #6CF 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#60a318), color-stop(100%,#588514)); background:-webkit-linear-gradient(top, #60a318 0%,#588514 100%); background:-o-linear-gradient(top, #60a318 0%,#588514 100%); background:-ms-linear-gradient(top, #60a318 0%,#588514 100%); background:linear-gradient(top, #60a318 0%,#588514 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a318', endColorstr='#588514',GradientType=0 ); } 

#DEDAR{border-color:#39540d;} 
#DEDAR > ul > li > a{border-right:1px solid #39540d; color:#fff;} 
#DEDAR > ul > li > a:after{
	border-color:#CFC;
} 
#DEDAR > ul > li > a:hover{
	background-color: #066;
} 

.left {

	float: left;

	margin: 1px 12px 0px 0px;

}



.dedar12{float:left;

		font-size:18px;

		border:solid 1px #000000;

		width:200px;

		font-family:Arial, Helvetica, sans-serif;

		color:#636;

		font-weight:bold;
		}
		


.dedar13{float:left;

		font-size:21px;

		border:solid 1px #000000;

		width:200px;


		color:#636;

		font-weight:bold;	}


body {

	margin: 0;

	padding: 0;

	color: #bdacaa;

	font-family: "Times New Roman", Times, serif;

	font-size: 13px;

	line-height: 1.7em;

}



#fp_body { 

	background: url(../images/tooplate_fp_wrapper.jpg) top center repeat; 
	width:auto;
	






}



#sp_body { 

	background: #252224 url(../images/tooplate_sp_body.jpg) repeat-x top; 

}



a, a:link, a:visited {
	color: #600;
	font-weight: normal;
	font-size: 21px;
	text-decoration:none;
}



a:hover { 

	opacity:0.7;

}



a.more {

	display: block;

	width: 80px;

	line-height: 26px;

	height: 25px;

	text-align: center;

	text-decoration: none;

	font-weight: bold;

	background: url(../images/tooplate_more.png) no-repeat top center;

	color: #F00;

	font-size:18px;

}



a.more:hover {

	color: #00C;

}



p { margin: 0 0 10px 0; padding: 0; }

img { border: none; }

blockquote { font-style: italic; margin: 0 0 0 10px;}

cite { font-weight: bold; color:#fff; }

cite span { color: #fff; }

em { color: #fff; }



h1, h2, h3, h4, h5, h6 { color:#00F; font-weight: normal; }

h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }

h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }

h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }

h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }

h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }

h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }



.cleaner { clear: both }

.h10 { height: 10px }

.h20 { height: 20px }

.h30 { height: 30px }

.h40 { height: 40px }

.h50 { height: 50px }

.h60 { height: 60px }



.float_l { float: left }

.float_r { float: right }



.image_wrapper { 

	display: inline-block; 

	border: 1px solid #484945; 

	padding: 4px; 

	background: #000; 

	margin-bottom: 5px; 

}

.image_fl { 

	float: left; 

	margin: 3px 30px 0 0; 

}



.image_fr { 

	float: right; 

	margin: 3px 0 0 30px; 

}



.tooplate_list { 

	margin: 20px 0 20px 30px; 

	padding: 0; 

	list-style: circle; 

}



.tooplate_list li { 

	color:#f9b507; 

	margin: 0; 

	padding: 0 0 5px 0; 

	background: url(../images/tooplate_list.png) no-repeat scroll 0 3px;  

}



.tooplate_list li a { 

	color: #f9b507; 

	font-weight: normal; 

	font-size: 12px; 

	text-decoration: none; 

}



.tooplate_list li a:hover { 

	text-decoration: none; 

}



#tooplate_fp_100_wrapper { 

	width: 100%; 

	/*background: url(../images/tooplate_fp_wrapper.jpg) top center no-repeat; */

}



#tooplate_sp_100_wrapper { 

	width: 100%; 

	/*background: url(../images/tooplate_sp_wrapper.jpg) top center no-repeat; */

}



#tooplate_fp_wrapper {

	width: 100%;

	padding: 0 0;

	margin: 0 0;

	/*background: url(../images/tooplate_fp_wrapper.jpg) top center no-repeat*/

}



#tooplate_sp_wrapper {

	width: 940px;

	padding: 0 10px;

	margin: 0 auto;

	/*background:	url(../images/tooplate_sp_wrapper.jpg) top center no-repeat);*/

}



#tooplate_top {

	width: 960px;

	height: 40px;

}



#tooplate_header {
	width: 100%;
	height:145px;
	background:url(../images/hdd.jpg) repeat-x;
	/*background-color:#C6F

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #0F9;	*/

}



#tooplate_header2 {

	width:97%;

	height: 60px;

	padding: 20px;

	background-color: #C09;

	border-bottom-width: 2px;

	border-bottom-style: solid;

	border-bottom-color: #FF0;

}

#site_title { 

	float: left; 

	width:50%;
	padding-left:10px;

}

#site_title2 { 

	float: right; 

	width:30%;

}

#site_title h1 { 

	margin: 10px 0 0 60px; 

	padding: 0; 

}



#site_title h1 a { 

	display: block; 

	width: 145px; 

	height: 57px; 

	color: #fff; 

	text-indent: -10000px; 

	background: url(../images/tooplate_logo.png) no-repeat top left; 

}



/* menu */




/* end of menu */



#tooplate_middle {
	clear: both;
	width: 100%;
	height: auto;
	padding: 10px 2px;
	overflow: hidden;




	//background: url(../images/tooplate_fp_wrapper.jpg) top center repeat; 
	background-color: #0CF;



}

#tooplate_sp_middle {

	clear: both;

	width: 960px;

	height: 120px;

	padding: 40px 20px; 

	overflow: hidden;

}



#mid_title {

	font-size: 30px;

	line-height: 38px;

	font-weight: 400;

	color: #0F0;

	margin-bottom: 20px;

	text-shadow: 1px 1px 1px #555;

	padding:10px 0 10px 10px;

	background:url('../images/box-separator.gif') repeat-x 0 bottom;

	

}



#tooplate_middle, #tooplate_sp_middle p {

	font-size: 20px;

	color: #f4e9d9;

	line-height: 0px;

	margin-bottom: 0px;

}



#mid_left {
		padding:5% 0 0 1% ;
		float:left;
		width:25%;

}

#mid_right {
	padding:5% 0 0 6% ;
	float:left;
	width:40%;

}

.contentdiv{
	padding:5% 0 0 1% ;
	float:right;
	width: 25%;
}


#mid_slider { 

	position:relative; 

	float: right; 

	padding: 10px 0 0 10px; 

	width: auto; 

	height: 284px; 

	background: url(../images/slider_bg.png); 

}



#tooplate_middle img { 


	margin-left: 5px; 

}



#mid_left p {

	margin-bottom: 30px;

	color: #3FF;

}



#learn_more a { 

	display: block; 

	width: 110px; 

	height: 31px; 

	text-align: center; 

	text-decoration: none; 

	color: #d4a9ba; 

	font-weight: 700; 

	background: url(../images/tooplate_mid_more.png); 

}



#learn_more a:hover { text-shadow: 1px 1px 1px #000 }



/* main */



#tooplate_main {

	clear: both;

	width: 100%;
	height:auto;
	min-height:800px;
	padding: 0 0 40px 5px; 
	background-color:#6FF;

	

}



#tooplate_main p {

	margin-bottom: 10px

}



.con_tit_01 { 

	font-size: 30px; 

	color: #fff; 

	margin-bottom: 25px; 

}



.con_tit_02 {

	font-size: 24px;

	color: #6F0;

	margin-bottom: 15px;

	padding:10px 0 10px 10px ;

	background:url('../images/box-separator.gif') no-repeat 0 bottom; 

}



.col_w900 { 

	width: auto; 
	height:auto;
	padding:0 0 30px  0;
	margin-bottom: 40px; 

	padding-bottom: 40px; 

	background: url(../images/tooplate_divider.png) repeat-x bottom; 


}

.col_w9002 { 

	width: 900px; 

	margin-bottom: 40px; 

	padding-bottom: 40px; 

	background: url(../images/tooplate_divider.png) repeat-x bottom; 

	height: ;

}



.col_w580 { width: 580px }

.col_w420 { width: 420px }

.col_w280 { width: 280px }



.col_allw280 { 

	

	float: left; 

	width: 280px; 

	height:180px;

	margin-right: 30px; 

	background:url('../images/box-bg.gif') repeat-y 0 0; position:relative;

}


.col_allw2801 { 


	width: 280px; 

	height:180px;

	margin-right: 30px; 

	background:url('../images/box-bg.gif') repeat-y 0 0; position:relative;

}


.col_w900_last { 

	padding-left: 10px; 

	margin: 0; 

	background: none; 

}



.col_last { margin: 0; }



.fp_service_box img { 

	float: left; 

	margin-right: 15px; 

}



.post_box { 

	clear: both; 

	margin-bottom: 30px; 

	padding-bottom: 20px; 

	background: url(../images/tooplate_divider.png) repeat-x bottom; 

}



.post_header { 

	border-top: 3px solid #999; 

	border-bottom: 1px solid #ccc; 

	padding: 5px; 

	margin-bottom: 20px; 

}



.post_box h2 { 

	font-size: 34px; 

	margin-bottom: 30px; 

}



.post_box p.post_meta { 

	margin-bottom: 0; 

}



.post_box img { 

	float: left; 

	margin-right: 20px; 

}



.fp_lw_box { 

	clear: both; 

	margin-bottom: 30px; 

}



.fp_lw_box img { 

	margin-right: 15px; 

	padding-top: 3px; 

}



.fp_lw_box h6 { 

	margin-bottom: 0; 

}



.fp_lw_box h6 a { 

	font-weight: bold; 

	text-decoration: none; 

}



#gallery { 

	margin: 0; 

	padding: 0; 

}



.gallery_box { 

	display: block; 

	position: relative; 

	float: left; 

	width: 280px; 

	margin: 0 30px 50px 0; 

}



.gb_lmb { 

	margin: 0 0 20px 0; 

}



.gallery_box a img { 

	width: 270px; 

	height: 120px; 

}



#contact_form { 

	padding: 0; 

	width: 400px; 

}



#contact_form form { 

	margin: 0px; 

	padding: 0px; 

}



#contact_form form .input_field { 

	width: 270px; 

	padding: 5px; 

	color: #fff; 

	border: 1px solid #343532;  

	background: #000; 

	font-family: Tahoma, Geneva, sans-serif;

	font-size: 12px;

	margin-top: 5px;

}



#contact_form form label { 

	display: block; 

	width: 100px; 

	margin-right: 10px; 

	font-size: 14px; 

}



#contact_form form textarea { 

	width: 388px; 

	height: 200px; 

	padding: 5px; 

	border: 1px solid #343532; 

	color: #fff;  

	background: #000; 

	font-family: Tahoma, Geneva, sans-serif;

	font-size: 12px;

	margin-top: 5px; 

}



#contact_form form .submit_btn {

	margin: 10px 0px;

	padding: 5px 14px;

	background: #000;

	color: #fff;

	border: 1px solid #343532;

	font-size: 14px; 

}



#tooplate_footer_wrapper {

	clear: both;

	width: 100%;

	background: #000;

}



#tooplate_footer {

	clear: both;

	width: 940px;

	padding: 10px 0; 

	color: #786a78;

	text-align: center;

	margin: 0 auto;

}



#tooplate_footer a { 

text-decoration:;
color:#0FF; 

}

